# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the binary
*.manifest
*.spec

# Windows
*.exe
*.dll
*.com
*.bat
*.msi
*.msm
*.msp

# macOS
.DS_Store

# Linux
*.so

# Virtual environment
.vscode/
myenv/
venv/

# IDE-specific files
.idea/
*.iml
.vscode/

# Large files
*.png
*.jpg
*.jpeg
*.mp4
*.mov
